<form class="mapDirectionsForm">
    <table>
        <caption>Directions:</caption>
        <tr>
            <th><label for="mapFromPostcode">Your Postcode</label>:</th>
            <th><label for="mapToPostcode">Our Postcode</label>:</th>
        </tr><tr>
            <td><input
                id="mapFromPostcode" name="mapFromPostcode"
                type="text" data-dojo-type="dijit/form/TextBox"
                style="width:95%" placeholder="Postcode here..."
            /></td>
            <td> <input
                id="mapToPostcode" name="mapToPostcode"
                type="text" data-dojo-type="dijit/form/TextBox"
                style="width:95%" value="TS2 1AD"
            /></td>
        </tr><tr>
            <td colspan="2">
                <button data-dojo-type="dijit/form/Button">Submit</button>
            </td>
        </tr>
    </table>
    
    <br /><p class="mapDirectionFormNotice"><i>Move mouse out of map to<br />reduce size again</i></p>
</form>