nav.metromenu a.metro {
    &.contact {
        background-image: url('metro/appbar.message.png');
    }

    &.podcast {
        background-image: url('metro/appbar.stream.png');
    }

    &.children {
        background-image: url('metro/appbar.children.crossing.png');
    }
    
    &.events {
        background-image: url('metro/appbar.calendar.14.png');
    }
    
    &.team {
        background-image: url('metro/appbar.people.multiple.magnify.png');
    }
    
    &.vision {
        background-image: url('metro/appbar.home.question.png');
    }
    
    &.students {
        //background-image: url('metro/appbar.smiley.happy.png');
        background-image: url('metro/appbar.people.student.png');
    }
    
    &.prayer {
        background-image: url('metro/appbar.prayer.png');
    }
    
    &.history {
        background-image: url('metro/appbar.book.perspective.png');
    }
    
    &.home {
        background-image: url('metro/appbar.home.png');
    }
    
    &.statement {
        background-image: url('metro/appbar.book.png');
    }
    
    &.connect {
        background-image: url('metro/appbar.connect.png');
    }
    
    &.apostolic {
        background-image: url('metro/appbar.globe.png');
    }
    
    &.visiting {
        background-image: url('metro/appbar.transit.car.png');
    }
    
    &.church {
        background-image: url('metro/appbar.building.church.png');
    }
    
    &.christianity {
        background-image: url('metro/appbar.symbol.cross.png');
    }
}