@import "variables";
@import "dbootstrap.css";

.clear {
    clear: both;
    height: 1px;
    width: 1px;
}

.left {
    float: left;
    margin: 0px;
    margin-right: @spacer;
    margin-bottom: @spacer;
}

.right {
    float: left;
    margin: 0px;
    margin-left: @spacer;
    margin-bottom: @spacer;
}

html {
    width:100%;
    .zeroSurrounds;
    text-align:center;
    height:100%;
}

h1 {
    font-size: 1.4em;
    line-height: 1.4em;
    margin-bottom: @spacer;
}

h2 {
    font-size: 1.2em;
    line-height: 1.2em;
}

body {
    .zeroSurrounds;
    
    background-color: @grey;
    background-repeat: no-repeat;
    background-position: center 100px;
    
    text-align: left;
    padding: @spacer;
    font-family: 'Open Sans', sans-serif;
    font-size: @mainFontSize;
    
    .main {
        margin:  auto;
        width: @bodyWidth+@sidebarWidth+(@spacer*3);
        
        &>div{
            width: @bodyWidth;
            float: left;
        }
        
        &>div>header, &>div>footer, &>div>div.articles, &>aside {
            padding: @spacer;
            margin-top: @spacer;
            color: @black;
        }
        
        &>div>div.articles article {
            margin-bottom: @spacer*2;
            
            h1.event-date-title {
                margin-bottom: 0px;
                
                a, a:hover {
                    color: @black;
                }
            }
            
            p.event-date-subtitle {
                .zeroSurrounds;
                font-weight: bold;
                font-size: 0.7em;
                margin-bottom: @spacer;
            }
        }
        
        &>aside {
            width: @sidebarWidth;
            float: right;
            
            .aiwidgetscss {
                .aiwidget-title {
                    h3 {
                        .zeroSurrounds;
                        font-size: 1em;
                    }
                }
                
                .imgdisplay {
                    clear: both;
                    .zeroSurrounds;
                    margin-top: @spacer;
                    border-top: 1px solid @grey;
                    padding-top: @spacer;
                    
                    font-size: 0.8em;
                    
                    img {
                        .left;
                        margin-bottom: floor(@spacer/2);
                    }
                    
                    .tweetlink {
                        margin-top: @spacer;
                    }
                }
            }
        }
        
        &>div>footer {
            font-size: 0.9em;
            
            aside {
                .map {
                    position: relative;
                    .left;
                    width: @mapSize;
                    height: @mapSize;
                    border: 1px solid @black;
                
                    .simpoMapsGoogleCanvas {
                        z-index: 1;
                    }
                }
                
                .find-us-block {
                    .zeroSurrounds;
                    margin-top: @spacer;
                    float: left;
                }
            }
        }
        
        &>div>header{
            min-height: 180px;
            
            nav.metromenu {
                height: 185px;
                min-height: 186px;
                max-height: 500px;
                
                a {
                    display: block;
                    position: relative;
                }
                
                a.logo {
                    padding-right: (@spacer*2)+1px;
                    float: left;
                    
                }
                
                a.metro {
                    width: 84px;
                    height: 84px;
                    float: left;
                    margin: (@spacer/2)-1px;
                    color: @black;
                    font-weight: bold;
                    text-decoration: none;
                    text-align: center;
                    font-size: 11px;
                    line-height: 100%;
                    
                    &.green {
                        background-color: @green;
                        &:hover {
                            background-color: lighten(@green, 5%);
                            .dropShadow(2px,2px);
                        }
                    }
                    &.orange {
                        background-color: @orange;
                        &:hover {
                            background-color: lighten(@orange, 5%);
                            .dropShadow(2px,2px);
                        }
                    }
                    &.blue {
                        background-color: @blue;
                        &:hover {
                            background-color: lighten(@blue, 5%);
                            .dropShadow(2px,2px);
                        }
                    }
                    
                    div {
                        margin-top: 53px;
                        margin-right: @spacer;
                        margin-left: @spacer;
                    }
                }
            }
        }
    
        &>div>div.articles {
            min-height: 500px;
        }
    }
}

.mapDirectionsForm {
    border: @borderWidth solid @black;
    padding: @spacer;
    .dropShadow(2px, 2px);
    
    table {
        caption, th {
            font-weight: bold;
            text-align: left;
            margin-bottom: @spacer;
        }
        
        caption {
            font-size: 1.3em;
        }
        
        td, th {
            font-size:0.8em;
            vertical-align: bottom;
        }
    }
    
        
    font-size:0.8em;
    
    .mapDirectionFormNotice {
        color: @black;
        font-weight: bold;
        text-align: center;
        font-size:1.2em;
    }
}

#googleMapsDirectionDialog {
    width: 550px;
}

#googleMapsDirectionDialogContent {
    padding: @spacer;
}

body.green {
    background-image: url('/wp-content/themes/RPRHAG/media/images/design/background/singer.png');
    
    a {
        color: darken(@green, 25%);
    }
    
    .main {
        &>div>header, &>div>footer, &>div>div.articles, &>aside {
            background-color: fadeout(lighten(@green,25%),15%);
        }
    }
    
    .mapDirectionsForm {
        background-color: fadeout(lighten(@green,25%),40%);
    }
    
    .mapDirectionsForm:hover {
        background-color: fadeout(lighten(@green,25%),10%);
    }
}

body.orange {
    background-image: url('/wp-content/themes/RPRHAG/media/images/design/background/guitar.png');
    
    a {
        color: darken(@orange, 25%);
    }
    
    .main {
        &>div>header, &>div>footer, &>div>div.articles, &>aside {
            background-color: fadeout(lighten(@orange,25%),15%);
        }
    }
    
    .mapDirectionsForm {
        background-color: fadeout(lighten(@orange,25%),40%);
    }
    
    .mapDirectionsForm:hover {
        background-color: fadeout(lighten(@orange,25%),10%);
    }
}

body.blue {
    background-image: url('/wp-content/themes/RPRHAG/media/images/design/background/worshipman.png');
    
    a {
        color: darken(@blue, 25%);
    }
    
    .main {
        &>div>header, &>div>footer, &>div>div.articles, &>aside {
            background-color: fadeout(lighten(@blue,25%),15%);
        }
    }
    
    .mapDirectionsForm {
        background-color: fadeout(lighten(@blue,40%),15%);
    }
    
    .mapDirectionsForm:hover {
        background-color: fadeout(lighten(@blue,25%),10%);
    }
}

.simpoSlideshow {
	.zeroSurrounds;
	
    position: relative;
	display: block;
    
    &.homepageSlideshow {
        float: left;
        margin-bottom: @spacer;
        margin-right: @spacer;
        border: @borderWidth solid @black;
        width: 350px;
        height: 350px;
        background-image: url("/wp-content/themes/RPRHAG/media/images/slideshow/KayleighAndJosephine.jpg");
    }
	
}

div.hiddenDiv{
    visibility:hidden;
    position:absolute;
    left:0px;
    top:0px;
    height:1px;
    width:1px;
    overflow:hidden;
    z-index: -100;
}

.simpoExpandingDiv {
    overflow: hidden;
}